@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand {
    font-family: "Quicksand", sans-serif;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* Shared Styles */
.display-flex {
    display: flex;
}


/* Header, Main Styles */
.header, main {
    max-width: 1360px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Navbar styles */
.navbar,
.nav-left,
.nav-items {
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    max-width: 300px;
    gap: 20px;
}

.nav-title {
    font-size: 32px;
    font-weight: 700;
    background: linear-gradient(90deg, #7b2ff7, #f107a3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-items {
    gap: 30px;
    list-style: none;
}

.link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.link1 {
    color: rgba(254, 163, 1, 1);
}

.link2 {
    color: rgba(1, 172, 253, 1);
}

.link3 {
    color: rgba(5, 212, 223, 1);
}

.link4 {
    color: rgba(93, 88, 239, 1);
}

.btn {
    background: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 40px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(218, 139, 4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.link:hover {
    text-shadow: 5px 5px 6px rgba(162, 161, 161, 0.5);
}

.topbar {
    display: none;
}


/* Hero Section */
.hero {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.hero-left {
    max-width: 600px;
}

.hero-title {
    font-size: 58px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 24px;
    color: rgba(17, 17, 17, 1);
}

.desc {
    font-size: 20px;
    font-weight: 400;
    color: rgba(17, 17, 17, 1);
    line-height: 26px;
    margin-bottom: 24px;
}

.btn-common {
    background: rgba(17, 17, 17, 1);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

.part1 {
    color: rgba(254, 163, 1, 1);
}

.part2 {
    color: rgba(1, 172, 253, 1);
}

.hero-img {
    width: 100%;
}


/* Standard Curriculum Section */
.curriculum-section {
    padding: 60px 0;
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    text-align: center;
}

.section-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    margin-bottom: 80px;
}

.card-container {
    gap: 28px;
}

.card {
    border: 1px solid rgba(222, 245, 255, 1);
    border-radius: 20px;
    box-shadow: 0 0 28px .94px rgba(0, 0, 0, 0.05);
}

.card1 {
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0) 40%);
}
.card2 {
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0) 40%);
}
.card3 {
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0) 40%);
}

.card-img {
    margin-top: 52px;
    margin-bottom: 32px;
}

.card-title {
    font-size: 24.5px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(32, 32, 32, 1);
    margin-bottom: 33.5px;
}

.card-desc {
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 33.5px;
    padding: 0 40px;
}

.card-btn {
    margin-bottom: 52px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    background: white;
    cursor: pointer;
}

.btn1 {
    color: #64C8FF;
}
.btn2 {
    color: #F0AA00;
}
.btn3 {
    color: #8700FF;
}

.card-btn:hover {
    text-shadow: 0 5px 6px rgba(162, 161, 161, 0.5);
}






/* ===== Responsive Styles ===== */
/* Mobile Device */
@media screen and (max-width: 576px) {
    .navbar {
        display: none;
    }

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        border-bottom: 0.5px solid rgba(254, 163, 1, 1);
    }

    .logo {
        width: 45px;
    }

    .menu-icon {
        font-size: 25px;
        cursor: pointer;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }

    .hero-title {
        font-size: 32px;
        
        line-height: 45px;
        margin-bottom: 18px;
    }

    .desc {
        font-size: 14px;
        font-weight: 500;
    }

    .btn-common {
        font-size: 16px;
        padding: 6px 24px;
    }
}




/* Tablet Responsive */
@media screen and (min-width:576px) and (max-width: 992px) {
    .logo {
        max-width: 50px;
    }

    .nav-title {
        font-size: 28px;
    }

    .hero-left {
        max-width: 500px;
    }
    
    .hero-title {
        font-size: 45px;
    }

    .desc {
        font-size: 18px;
        padding-right: 30px;
    }
}